<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      Pomelo
    </title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-scripte-type" content="text/javascript" />
    <meta name="author" content="netease" />
    <meta name="version" content="1.0" />
    <meta name="keywords" content="pomelo" />
    <link type="text/css" rel="stylesheet" href="css/base.css" />
    <script src="../js/lib/socket.io.js" > </script>
    <script src="../js/lib/pomeloclient.js"></script>
      <script type="text/javascript" src="../js/lib/connPomelo.js"></script>
      <script type="text/javascript" src="../js/html/chatRoom.js"></script>  
  </head>
  <body>
    <div class="g-doc">
      <div class="g-banner" style="border:none">
        <div class="logo">
          <div class="img"></div>
        </div>
      </div>
        
      <div id="pnlChat" style="display:none;">
        <h1>2.聊天室</h1>    
        用户名：<span id="spUserName" style="color:blue;padding-right:50px;"></span>
        房间号：<span id="spRoomId" style="color:blue;padding-right:50px;"></span>    
        <div id="txtMessage" style="width:800px; height:400px;border:1px solid #000; overflow-y:auto; overflow-x:hidden; "></div>
        <br/>
        发送给：<select id="selUserList" style="width:200px;">
                    <option value="*">所有人</option>
               </select>
               <br/>
               <br/>
               <textarea id="txtSendMessage" type="text" style="width:690px;height:80px; overflow:auto;float:left;" ></textarea>
               <input id="btnSend" type="button" value="发送" style="margin-left:10px; height:80px; width:100px;float:left;" />
        </div>
    </div>
  </body>
</html>
